{% for item in iconGroups.footerLeft %}
    {% if not (config.enableContact == 0 and item.name == "Contact") %}
        <a 
        {% if item.onclick %} onclick="{{ item.onclick }}" {% endif %}
        {% if item.url %} href="{{ item.url }}" target="_blank" {% endif %}
        title="{{ item.name }}" class="mr-2 " aria-label="{{ item.name }}" rel="noopener noreferrer" 
        >
        {{ icons[item.icon] | safe }}
        </a>
    {% endif %}
{% endfor %}