<div id="searchbox" class="hidden lg:block mr-4 resize-none">
      <input aria-label="Search" x-data="{ isOpen: true }" x-bind:class="{ 'hidden': !isOpen }" type="search" placeholder="{{ config.searchPlaceholder }}" 
      class="resize-none float-right w-48 
       text-sm bg-search dark:bg-search-dark
       text-search-text dark:text-search-text-dark
      border border-search-border dark:border-search-border-dark
      appearance-none rounded py-2 px-2 
      placeholder-placeholder dark:placeholder-placeholder-dark leading-tight 
      focus:ring focus:ring-focus dark:focus:ring-focus-dark 
      ring-opacity-50" id="searchField">

      <div  class="hidden w-96 z-50 absolute top-16 right-0" id="searchWrapper">
        <ul  id="searchResults" tabindex="0" class="pb-8 z-50 resize-none"></ul>
      </div>
      <div id="noResultsFound" 
      class="bg-header dark:bg-search-dark
       text-search-text dark:text-search-text-dark
      border border-search-border dark:border-search-border-dark
      p-8 resize-none
      hidden
     absolute top-16 right-16 ">
       {{ config.searchNoResultsMessage }}
      </div>
    </div>
     <div class="block lg:hidden mr-3">
      <a href="#" onclick="showSearch()" title="search" name="search">
       {{ icons.searchIcon | safe }}
      </a>
</div>