{% for item in iconGroups.sidebar %}
        <div class="flex align-center items-center">
        <a href="#" class="no-underline" target="_blank">
        {% if item.emoji %}
        {{ item.emoji }}
        {% else %}
        {{ icons[item.icon] | safe }}  
        {% endif %}
        </a>
        <span class="p-2">
        {% if item.internal %}
        <a class="no-underline" href="{{ item.url }}">{{ item.label }}</a>
        {% else %}
        <a class="no-underline" href="{{ item.url }}" target="_blank">{{ item.label }}</a>
        {% endif %}
        </span>
        </div>
{% endfor %}