<div id="footer" class="mt-12 h-auto justify-center p-2 bg-footer dark:bg-footer-dark dark:footer-dark text-footer-text dark:text-footer-text-dark
border-t border-footer-border dark:border-footer-border-dark">
    <div class="flex justify-center space-x-2">

        <div class=" place-self-center hidden md:inline prose prose-sm px-2 py-2 flex-grow w-full h-min">
            <div class="flex-none">
                foo
            </div>
        </div>

    </div>

</div>



<div class="md:hidden prose prose-sm px-2 py-2 flex-grow w-full h-min flex justify-center">
    <div class="flex-none">
        Mookie in the dookie Inc. {{ config.footerText | safe }}
    </div>
</div>
