
<div id="footer" class="flex justify-center mt-12 h-auto justify-center p-2 bg-footer dark:bg-footer-dark dark:footer-dark text-footer-text dark:text-footer-text-dark
border-t border-footer-border dark:border-footer-border-dark">
    <div class="flex-none w-14 h-14 ...">
        <div class="px-2 py-2 flex-none w-min h-min flex  ">
            {% include "../templates/iconsFooterLeft.njk" %}
        </div>
    </div>
    <div class="grow flex items-center justify-center">
        <div class="flex-none">
            {{ config.footerText | safe }}
        </div>
    </div>
    <div class="flex-none w-14 h-14 ...">
        <div class="px-2 py-2 flex-none flex-grow-0 w-min h-min flex justify-center">
            {% include "../templates/iconsFooterRight.njk" %}
        </div>
    </div>
</div>

<div class="md:hidden prose prose-sm px-2 py-2 flex-grow w-full h-min flex justify-center">
    <div class="flex-none">
        Mookie in the dookie Inc. {{ config.footerText | safe }}
    </div>
</div>
