<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or config.name }}</title>
    <meta name="description" content="{{ metaDescription or renderData.metaDescription or config.description }}">
    <link rel="stylesheet" href="/style.css?v={% version %}"/>

    {# Favicon #}
    {% if config.enableFaviconEmoji == true %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=" http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <text y=".9em" font-size="90">{{ config.faviconEmoji }}</text></svg>">
    {% else %}
        <link rel="icon" href="/_includes/assets/favicon/favicon.ico?v={% version %}"/>
    {% endif %}

    {# JavaScript #}
    {% set js %}
        {% include "assets/js/inline.js" %}
        {% include "assets/js/search.js" %}
    {% endset %}
    <script defer>{{ js | jsmin | safe }}</script>

    {# Custom CSS #}
    {% set css %}
        {% include "assets/css/theme.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>

    {# Elasticlunr and Alpine.js#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
            defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>

</head>
