<div class="fixed bg-white w-full top-0 left-0 z-10 flex-none h-20"> 
  <div class="flex 
      items-center 
      bg-white 
      dark:bg-gray-900 
      z-20 fixed top-0 left-0 right-0 
      border-b border-gray-100 
      px-0 py-3 
      dark:bg-dark dark:border-gray-800">
    
    <a id="logo" href="/" class="flex-none ml-2">
      <img class="block md:hidden" src="/_includes/assets/images/logo.png" height="36" width="36" />
      <img class="hidden md:block" src="/_includes/assets/images/logo.png" height="50" width="50" />
      {# {{ logo.svgLogo | safe }} #}
    </a>

    <div id="site" class="resize-none space-y-4 w-full ml-2">
      <a class="no-underline resize-none text-gray-600 hover:text-gray-800 font-bold dark:text-gray-500 items-center" href="/">
        <span class="block md:hidden text-sm sm:text-xl md:text-xl resize-none">{{ config.shortName }}</span>
        <span class="hidden md:block text-sm sm:text-xl md:text-xl resize-none">{{ config.name }}</span>
        {% if config.subtitle %}
        <span class="block
          text-gray-500 hover:text-gray-600 
          dark:text-gray-600 
          font-normal 
          text-xs 
          md:text-sm 
          lg:text-base 
          resize-none
          w-full">
          <span class="hidden md:block">{{ config.subtitle }}</span>
          <span class="block md:hidden">{{ config.shortSubtitle }}</span>
        </span>
        {% endif %}
      </a>
    </div>

    <button id="hamburger" aria-label="Show navigation" onclick="showNavigation()" class="block md:hidden pr-2 resize-none">
    {{ icons.menuIcon | safe  }}
    </button>


  
      
    {% if config.enableSearch == 1 %}
    {% include "../templates/search.njk" %} 
    {% endif %}

    <div id="header-icons" class="hidden block md:flex space-x-2 mr-2">
     {% include "../templates/icons.njk" %}
    </div>

  </div>

    {# <div class="flex-none w-full bg-pink-100 mt-20 h-20">
    Sup iconsxxx
    </div> #}

     {% if config.navigationStyle == 'horizontal' %}
        {% include "../components/horizontal.nav.njk" %}
     {% endif %} 
</div>

 