<div id="header" class="sticky top-0 ">
    <div class=" bg-header dark:bg-header-dark border-b border-header-border dark:border-header-border-dark flex items-center px-0 py-3 h-auto">

        {% if config.enableLogo == true %}
            <a id="logo" title="home" href="/" class="flex-none ml-4" rel="noopener noreferrer">
                {% if config.logoStyle == 'svg' %}
                    {{ logo.logo.svgLogo | safe }}
                {% endif %}
                {% if config.logoStyle == 'png' %}
                    <img alt="logo" src="/_includes/assets/logo/logo.png" height="50" width="50"/>
                {% endif %}
                {% if config.logoStyle == 'emoji' %}
                    <div class="-mt-2">{{ config.emojiLogo | safe }}</div>
                {% endif %}
            </a>
        {% endif %}

        <div id="site" class="resize-none space-y-4 w-full ml-2">
            <div class="text-header-text hover:text-header-text-hover dark:text-header-text-dark dark:hover:text-header-text-dark-hover">
                <a class="no-underline resize-none font-bold" href="/" rel="noopener noreferrer">
                    <span class="block md:hidden text-sm sm:text-xl md:text-xl resize-none">{{ config.shortName }}</span>
                    <span class="hidden md:block text-sm sm:text-xl md:text-xl resize-none">{{ config.name }}</span>
                </a>
            </div>

            {% if config.subtitle %}
                <span class="text-subheader-text hover:text-subheader-text-hover
                dark:text-subheader-text-dark dark:hover:text-subheader-text-dark-hover
                font-normal
                text-xs
                md:text-sm
                lg:text-base
                resize-none
                w-full">
                <span class="hidden md:block">{{ config.subtitle }}</span>
                <span class="block md:hidden">{{ config.shortSubtitle }}</span>
            </span>
            {% endif %}

        </div>

        <button id="hamburger" aria-label="Show navigation" onclick="toggleNavigation()"
                class=" block lg:hidden mr-2 resize-none">
            {{ icons.icons.menuIcon | safe }}
        </button>

        <div id="header-icons" class="hidden block lg:flex space-x-2 mr-2">
            {% include "../templates/icons.njk" %}
        </div>
    </div>

    {% if config.navigationStyle === "horizontal" %}
        <nav id="navigation">
            <div id="h-nav" class="hidden lg:block">
                {% include "../components/horizontal.nav.njk" %}
            </div>
        </nav>
    {% endif %}

</div>

{% if config.navigationStyle === "horizontal" %}
    <div id="v-nav" class="fixed  h-full hidden">
        {% include "../components/vertical.nav.njk" %}
    </div>
{% endif %}

<div id="search" class="hidden fixed top-0 h-full w-full z-50">
    {% if config.enableSearch == 1 %}
        {% include "../templates/search.njk" %}
    {% endif %}
</div>

 