{# Mobile icons #}
<div id="navigation-icons"
     class="flex px-4 py-4 w-full border-b border-header-border dark:border-header-border-dark lg:hidden items-center bg-sidebar dark:bg-sidebar-dark">
    <div class="flex-grow  flex space-x-2 justify-start">
        {% include "../templates/icons.njk" %}
    </div>
    <button id="hamburger" aria-label="Show navigation" onclick="toggleNavigation()"
            class=" block lg:hidden -mr-2 resize-none">
        {{ icons.icons.closeIcon | safe }}
    </button>
</div>

{# Vertical nav #}
<nav id="navigation"
     class="h-full overflow-y-auto
         bg-sidebar dark:bg-sidebar-dark
        px-6 pb-12 xs:-mt-4 mb-12 w-full lg:w-72
        border-r
        border-b border-sidebar-border
        dark:border-sidebar-border-dark">
    <div class="mt-6">
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({anchorClass: "item",activeAnchorClass: "active",activeListItemClass: "active",activeKey: eleventyNavigation.key, listClass: "nav", listItemClass: "item"}) | safe }}
    </div>
    {% if icons.iconGroups.sidebar %}
        <hr class="mt-8 mb-8"/>
        {% include "../templates/sidebarIcons.njk" %}

    {% endif %}
</nav>