<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
{% include "components/head.njk" %}
<body>
{% include "../components/header.njk" %}
<div id="app" class="">
    {% if config.navigationStyle === "vertical" %}
        <div id="v-nav" class="fixed h-full hidden lg:block">
            {% include "../components/vertical.nav.njk" %}
        </div>
    {% endif %}
    <main id="content" class="bg-content dark:bg-content-dark">
        {% if config.navigationStyle === "vertical" %}
        <div id="content-main" class="px-16 lg:ml-72">
            {% else %}
            <div id="content-main" class="px-16">
                {% endif %}

                <div class="py-4 max-w-5xl mx-auto focus:outline-none focus:ring-header-border focus:ring-2">
                    {{ layoutContent | safe }}
                </div>
                {% include "components/footer.njk" %}
            </div>
        </div>
    </main>
</div>
</body>
</html>
