<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body>
    <div id="app" class="h-screen bg-white dark:bg-gray-900">
      
      {% include "../components/header.njk" %}
     
      {% if config.navigationStyle == "vertical" %}
       {% include "../components/vertical.nav.njk" %}
      {% endif %}

      <main id="main">
        {% if config.navigationStyle == 'horizontal' %}
        <div class="dark:bg-gray-900 pt-36">
        {% else %}
        <div class="pl-72 md:pl-72 dark:bg-gray-900 pt-20">
        {% endif %}     
      
          <div class="px-8 max-w-5xl mx-auto">
           {{ layoutContent | safe }}
          </div>
        
          {% include "components/footer.njk" %} 

        </div>
      </main>
  </body>
</html>
