---
layout: layouts/base.njk
section: page
---
{% if config.enableEditButton == true or config.enableDatestamp == true %}
    <div id="dateline-vertical" class="w-full flex justify-end ">
        {% if config.enableDatestamp == true %}
            <div class="inline-block w-auto text-xs text-dateline dark:text-dateline-dark py-1 mr-3">
                Updated
                <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
            </div>
        {% endif %}
        {% if config.enableEditButton == true %}
            <div class="inline-block w-auto text-xs  py-1 mr-3">
                <a class="text-dateline dark:text-dateline-dark hover:text-dateline-hover dark:hover:text-dateline-dark-hover"
                   target="_blank" rel="noopener" rel="noreferrer"
                   href="{{ config.gitUrl }}/edit/{{ config.gitBranch }}/{{ page.inputPath }}">Edit</a>
            </div>
        {% endif %}
    </div>
{% endif %}

       {% if config.enableTags %}
           <div id="tags">
               {%- for tag in tags | filterTagList -%}
                   {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                   <span class="uppercase last:mr-0 mr-1 text-sm rounded border border-bg-tag hover:bg-tag-dark px-2 py-1"><a href="{{ tagUrl | url }}">{{ tag }}</a></span>
               {%- endfor %}
           </div>
       {% endif %}

<div class="pt-12 flex-none w-auto prose  md:prose-lg flow-root  focus:outline-none
        focus:ring-header-border
        focus:ring-2
        {% if config.enableTOC and content|toc %}xl:mr-[17rem]{% endif %}">
    <article>
        <h1>{{ title }}</h1>

        {% if config.enableEditButton == true or config.enableDatestamp == true %}
            <div id="dateline" class="hidden">
                <div class="dateline flex mt-4 justify-end mr-1">
                    {% if config.enableDatestamp == true %}
                        <div class="inline-block w-auto text-xs text-dateline dark:text-dateline-dark pt-1 pb-1 pl-3 mr-2 rounded ">
                            Updated
                            <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
                        </div>
                    {% endif %}
                    {% if config.enableEditButton == true %}
                        <div class="inline-block w-auto text-xs  pt-1 pr-4 pb-1 pl-3 rounded"><a
                                    class="text-dateline dark:text-dateline-dark hover:dark:text-dateline-hover dark:hover:text-dateline-dark-hover no-underline font-normal !important"
                                    target="_blank" rel="noopener" rel="noreferrer"
                                    href="{{ config.gitUrl }}/edit/{{ config.gitBranch }}/{{ page.inputPath }}">Edit</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if config.enableTOC and content|toc %}
            <div class="fixed z-20 top-[8rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 px-8 overflow-y-auto hidden xl:block">
                <div class="font-bold"><small>ON THIS PAGE</small></div>
                <aside class="font-normal not-prose">
                    {{ content | toc | safe }}
                </aside>
            </div>
        {% endif %}



        {{ layoutContent | safe }}

        {% if (config.enableComments) and (comments !== 0) %}
            <!-- Paste your comment code here! -->
        {% endif %}

        {% if config.enablePageNavigation == true %}
            {% include "../components/page.nav.njk" %}
        {% endif %}
    </article>
</div>



