@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Set up some default image behavior for nicer images */
  .prose img {
    @apply w-auto  shadow-md border-2 border-transparent !important;
  }
  .prose img:hover {
    @apply border-2 border-gray-100;
  }
  /* Overrides for Tailwind Typography prose class */
  #content a {
    @apply text-content-link hover:text-content-link-hover dark:text-content-link-dark dark:hover:text-content-link-dark-hover;
  }
  .prose hr {
    @apply border-content-hr dark:border-content-hr-dark !important;
  }
  #navigation hr {
    @apply border-sidebar-hr dark:border-sidebar-hr-dark !important;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose strong {
    @apply text-content-text dark:text-content-text-dark;
  }

  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    scroll-margin-top: 3.5em;
  }

  .prose .footer-nav a {
    @apply no-underline !important;
  }

  .prose ul.contains-task-list {
    @apply list-none -ml-6 !important;
  }

  .prose ul.contains-task-list .task-list-item {
      @apply hidden !important;
  }

  /* Define blockquotes and some standard callout blocks */
  #content .prose blockquote {
    @apply rounded-lg p-4 bg-blockquote dark:bg-blockquote-dark
      text-blockquote-text dark:text-blockquote-text-dark
      border-blockquote-border dark:border-blockquote-border-dark border-l-8 dark:border-blockquote !important;
  }
  #content .prose blockquote a {
    @apply text-blockquote-link dark:text-blockquote-link-dark
  }
  #content .prose blockquote a:hover {
    @apply text-blockquote-link-hover dark:text-blockquote-link-dark-hover
  }

  .callout {
    @apply px-8 py-4 mb-4 rounded-lg;
  }

  /* Overrides for vertical nav */
  nav ul {
    @apply ml-0;
  }
  nav ul ul {
    @apply ml-6;
  }
  nav ul li a {
    @apply mb-1 py-2 pr-4  pl-2 w-full block text-nav dark:text-nav-dark dark:hover:text-nav-dark-hover;
  }
  nav ul li a:hover {
    @apply text-nav-hover dark:text-nav-hover bg-nav-button dark:bg-nav-button-dark rounded;
  }
  nav ul li a.active {
    @apply font-semibold  bg-nav-button dark:bg-nav-button-dark rounded;
  }

  /* Search */
  .search-results {
    @apply z-50 p-4 bg-sidebar dark:bg-sidebar-dark text-sidebar dark:text-sidebar-dark;
  }

  .search-results a {
    @apply z-50 text-sidebar-link dark:text-sidebar-link-dark;
  }

  .search-results a:hover {
    @apply z-50 text-sidebar-link-hover dark:text-sidebar-link-dark-hover;
  }

  ul.search-results {
    @apply pb-4 text-sidebar dark:text-sidebar-dark;
  }

  ul.search-results li {
    @apply p-3 border-b bg-header dark:bg-header-dark border-header-border dark:border-header-border-dark;
  }

  /* Utilities and misc */
  .adjust p img,
  .adjust img,
  .adjust p iframe,
  .adjust iframe,
  .twitter-tweet {
    @apply shadow-md ml-auto mr-auto  p-2 !important;
  }
  .adjust p img:hover,
  .adjust img:hover {
    @apply shadow-xl;
  }
  .footer.prose-sm {
    @apply leading-5;
  }
}
